body{
    background-color: #EEF9BF;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;


    font-family: 'Roboto', sans-serif;
    font-style: normal;
   
    font-size: 56px;
    font-weight: bold;
    color: #75B79E;

}

@media(max-width:335px){
    h1{
        font-size: 36px;
    }
    .cartasJogo{
        flex-direction: column;
    }
}
.title{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.cartasJogo{
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.card{
    width: 117px;
    height: 146px;
    position: relative;
    margin-right: 34px;
    margin-bottom: 34px;
    
}

.face{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;

    border: 1px solid #99CEA8;
    border-radius: 5px;

   
    transition: all 0.5s;
    transform-style: preserve-3d;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 34px;
    position: relative;


}
.frontFace{
    backface-visibility: hidden;
    position:absolute;
    z-index: 1;
}

.backFace > img{
    width: 100px;

}

.backFace{
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    color: #A7E9AF;
    font-size: xx-small;
    
    
   
    
}
.rotate1{
    transform: rotateY(0deg);
}

.rotate2{
    transform: rotateY(-180deg);
}




.frontFace > img{
    width: 100px;
}

